/* Vars */
:root{
    --negro: #000000;
    --platino: #111110;
    --crema: #B0A98F;
    --dorado: #B39D3C;
}

@font-face {
    font-family: 'Arquitecta';
    src: url("fonts/Arquitecta.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBlack';
    src: url("fonts/ArquitectaBlack.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBold';
    src: url("fonts/ArquitectaBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBook';
    src: url("fonts/ArquitectaBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaHeavy';
    src: url("fonts/ArquitectaHeavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaLight';
    src: url("fonts/ArquitectaLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaMedium';
    src: url("fonts/ArquitectaMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaThin';
    src: url("fonts/ArquitectaThin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roseritta';
    src: url("fonts/Roseritta.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

/* Mobile */

/* Header */
header{
    position: sticky;
    z-index: 1;
    top: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
}

.back-negro{
    background-color: var(--negro);
}

.back-platino{
    background-color: var(--platino);
}

.back-crema{
    background-color: var(--crema);
}

.back-dorado{
    background-color: var(--dorado);
}

.header-logo img{
    padding-top: 0.6vh;
    height: 7vw;
    width: auto;
}

.header-title{
    color: var(--crema);
    font-family: Roseritta, serif;
    font-size: 6vw;
}

/* Main */
.main{
    background-image: url(img/limones-back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
}

.main-fill{
    height: 35%;
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: Roseritta, serif;
    font-weight: 600;
    font-size: 13vw;
    word-spacing: 8vw;
}

.main-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: ArquitectaBook, sans-serif;
    padding-top: 2%;
    font-size: 5vw;
    color: #ddddcc;
}

/* About */
.about {
    background-color: #111110;
    height: 550px;
}

.about-title{
    color: #DDDDCC;
    text-align: center;
    font-family: Roseritta, serif;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.about-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-desc{
    color: #DDDDCC;
    text-align: justify;
    font-family: ArquitectaBook, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 304px;
}

.about-shields-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.about-italia-shield, .about-cordoba-shield{
    height: 30px;
    width: auto;
    padding-top: 10px;
}


/* Product1 */
.product1{
    background-color: #CFC6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 217px;
}

.product1-text-container{
    width: 250px;
    padding-left: 20px;
}

.product1-img{
    width: auto;
    height: 37vw;
    max-height: 190px;
    margin-right: 20px;
}

.product1-title{
    color:#000000;
    font-family: ArquitectaMedium, sans-serif;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.product1-desc{
    font-family: ArquitectaBook, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-right: 40px;
}

.product1-extra{
    font-family: ArquitectaLight, sans-serif;
    font-size: 16px;
    padding-top: 20px;
}

/* Product2 */
.product2{
    background-color: #C6B156;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 217px;
}

.product2-text-container{
    width: 250px;
    padding-right: 20px;
}

.product2-img{
    width: auto;
    height: 37vw;
    max-height: 190px;
    margin-left: 20px;
}

.product2-title{
    color:#000000;
    font-family: ArquitectaMedium, sans-serif;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 15px;
    white-space: nowrap;
    text-align: right;
}

.product2-desc{
    font-family: ArquitectaBook, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 40px;
}

.product2-extra{
    font-family: ArquitectaLight, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    text-align: right;
}

/* Product3 */
.product3{
    background-color: #222220;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 217px;
}

.product3-text-container{
    width: 250px;
    padding-left: 20px;
}

.product3-img{
    width: auto;
    height: 37vw;
    max-height: 190px;
    margin-right: 20px;
}

.product3-title{
    color:#DDDDCC;
    font-family: ArquitectaMedium, sans-serif;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.product3-desc{
    font-family: ArquitectaBook, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-right: 40px;
    color:#DDDDCC;
}

.product3-extra{
    font-family: ArquitectaLight, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    color:#DDDDCC;
}

/* Credits */
.credits{
    background-color: #111110;
    height: 500px;
}

.credits-title{
    color: #DDDDCC;
    text-align: center;
    font-family: Roseritta, serif;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.credits-desc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.credits-desc1, .credits-desc2{
    color: #DDDDCC;
    font-size: 20px;
    font-family: ArquitectaBook, sans-serif;
    text-align: center;
}

.credits-social-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.credits-social1, .credits-social2{
    color: #DDDDCC;
    font-size: 16px;
    font-family: ArquitectaBook, sans-serif;
}