/* Vars */
:root{
    --negro: #000000;
    --platino: #111110;
    --crema: #B0A98F;
    --dorado: #B39D3C;
}

@font-face {
    font-family: 'Arquitecta';
    src: url("fonts/Arquitecta.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBlack';
    src: url("fonts/ArquitectaBlack.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBold';
    src: url("fonts/ArquitectaBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaBook';
    src: url("fonts/ArquitectaBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaHeavy';
    src: url("fonts/ArquitectaHeavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaLight';
    src: url("fonts/ArquitectaLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaMedium';
    src: url("fonts/ArquitectaMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArquitectaThin';
    src: url("fonts/ArquitectaThin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roseritta';
    src: url("fonts/Roseritta.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

/* Mobile */

/* Header */
header{
    position: sticky;
    z-index: 1;
    top: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
}

.back-negro{
    background-color: var(--negro);
}

.back-platino{
    background-color: var(--platino);
}

.back-crema{
    background-color: var(--crema);
}

.back-dorado{
    background-color: var(--dorado);
}

.header-logo img{
    padding-top: 0.6vh;
    height: 7vw;
    width: auto;
}

.header-title{
    color: var(--crema);
    font-family: Roseritta, serif;
    font-size: 6vw;
}

/* Main */
.main-section{
    background-image: url(img/limones-back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
}

.main-fill{
    height: 35%;
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: Roseritta, serif;
    font-weight: 600;
    font-size: 13vw;
    word-spacing: 8vw;
}

.main-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: ArquitectaBook, sans-serif;
    padding-top: 2%;
    font-size: 5vw;
    color: #ddddcc;
}

.next-section{
    height: 500px;
}